In [1]:
import numpy as np
import pandas as pd

In [2]:
titanic = pd.read_csv("titanic.csv")
print(titanic.shape)
titanic.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
X = titanic.iloc[:,0:titanic.shape[1]-1]
Y = titanic.iloc[:,-1]
Y

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [4]:
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, random_state=123211)
print(type(X_train))
print(type(Y_train))
print(type(Y_test))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [5]:
X_Y_train = X_train.copy()
X_Y_train['Survived'] = Y_train
print(X_Y_train.shape)
print(X_test.shape)
print(Y_train.shape)
X_Y_train.to_csv('titanic_x_y_train.csv', index=False)
X_train.to_csv('titanic_x_train.csv', index=False)
Y_train.to_csv('titanic_y_train.csv', index=False)
X_test.to_csv('titanic_x_test.csv', index=False)
Y_test.to_csv('titanic_y_test.csv', index=False)

(668, 11)
(223, 11)
(668,)

In [6]:
X_Y_train_l = pd.read_csv('titanic_x_y_train.csv', delimiter=',')
X_test_l = pd.read_csv('titanic_x_test.csv', delimiter=',')
print(X_Y_train_l.shape)
X_Y_train_l.isnull().sum()

#X_Y_train_l.head()

(668, 11)

PassengerId      0
Survived         1
Pclass           0
Name             0
Sex              0
Age            141
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          518
dtype: int64

In [7]:
del X_Y_train_l["Name"]
del X_Y_train_l["Ticket"]
del X_Y_train_l["Cabin"]
del X_Y_train_l["Fare"]
X_Y_train_l.head()

   PassengerId Survived  Pclass     Sex   Age  SibSp  Parch
0          571        S       2    male  62.0      0      0
1          444        S       2  female  28.0      0      0
2          254        S       3    male  30.0      1      0
3          576        S       3    male  19.0      0      0
4          750        Q       3    male  31.0      0      0

In [8]:
del X_test_l["Name"]
del X_test_l["Ticket"]
del X_test_l["Cabin"]
del X_test_l["Fare"]
del X_test_l["Parch"]

In [9]:
print(X_Y_train_l.isnull().sum())
print(X_Y_train_l.shape)
#X_Y_train_l.dropna(inplace=True)
X_Y_train_l = X_Y_train_l.fillna(X_Y_train_l.median())
print(X_Y_train_l.isnull().sum())
X_Y_train_l.shape

PassengerId      0
Survived         1
Pclass           0
Sex              0
Age            141
SibSp            0
Parch            0
dtype: int64
(668, 7)
PassengerId    0
Survived       1
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
dtype: int64

C:\Users\tyagi\AppData\Local\Temp\ipykernel_19056\2081754467.py:4: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  X_Y_train_l = X_Y_train_l.fillna(X_Y_train_l.median())

(668, 7)

In [10]:
X_Y_train_l.dropna(inplace=True)
print(X_Y_train_l.isnull().sum())
X_Y_train_l.shape

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
dtype: int64

(667, 7)

In [11]:
X_train_l = X_Y_train_l.iloc[:,:X_Y_train_l.shape[1]-1]
print(X_train_l.shape)
Y_train_l = X_Y_train_l.iloc[:,-1]
print(Y_train_l.shape)
print(Y_train_l)

(667, 6)
(667,)
0      0
1      0
2      0
3      0
4      0
      ..
663    0
664    0
665    0
666    0
667    0
Name: Parch, Length: 667, dtype: int64

In [12]:
def getNumber(str):
    if str=="male":
        return 1
    else:
        return 2
X_train_l['gender']=X_train_l["Sex"].apply(getNumber)
print(X_train_l)
del X_train_l["Sex"]
X_train_l.head()

     PassengerId Survived  Pclass     Sex   Age  SibSp  gender
0            571        S       2    male  62.0      0       1
1            444        S       2  female  28.0      0       2
2            254        S       3    male  30.0      1       1
3            576        S       3    male  19.0      0       1
4            750        Q       3    male  31.0      0       1
..           ...      ...     ...     ...   ...    ...     ...
663          392        S       3    male  21.0      0       1
664          265        Q       3  female  28.0      0       2
665          816        S       1    male  28.0      0       1
666          741        S       1    male  28.0      0       1
667           15        S       3  female  14.0      0       2

[667 rows x 7 columns]

   PassengerId Survived  Pclass   Age  SibSp  gender
0          571        S       2  62.0      0       1
1          444        S       2  28.0      0       2
2          254        S       3  30.0      1       1
3          576        S       3  19.0      0       1
4          750        Q       3  31.0      0       1

In [13]:
X_test_l['gender']=X_test_l["Sex"].apply(getNumber)
print(X_test_l)
del X_test_l["Sex"]
X_test_l.head()

     PassengerId  Survived  Pclass     Sex   Age  SibSp  gender
0            448         1       1    male  34.0      0       1
1            210         1       1    male  40.0      0       1
2            592         1       1  female  52.0      1       2
3             90         0       3    male  24.0      0       1
4            818         0       2    male  31.0      1       1
..           ...       ...     ...     ...   ...    ...     ...
218          725         1       1    male  27.0      1       1
219          465         0       3    male   NaN      0       1
220          624         0       3    male  21.0      0       1
221          304         1       2  female   NaN      0       2
222          621         0       3    male  27.0      1       1

[223 rows x 7 columns]

   PassengerId  Survived  Pclass   Age  SibSp  gender
0          448         1       1  34.0      0       1
1          210         1       1  40.0      0       1
2          592         1       1  52.0      1       2
3           90         0       3  24.0      0       1
4          818         0       2  31.0      1       1

In [14]:
def getNumberEmbarked(str):
    if str=='C':
        return 1
    elif str=='Q':
        return 2
    else:
        return 3
X_train_l['Survived']=X_train_l["Survived"].apply(getNumberEmbarked)
print(X_train_l)

     PassengerId  Survived  Pclass   Age  SibSp  gender
0            571         3       2  62.0      0       1
1            444         3       2  28.0      0       2
2            254         3       3  30.0      1       1
3            576         3       3  19.0      0       1
4            750         2       3  31.0      0       1
..           ...       ...     ...   ...    ...     ...
663          392         3       3  21.0      0       1
664          265         2       3  28.0      0       2
665          816         3       1  28.0      0       1
666          741         3       1  28.0      0       1
667           15         3       3  14.0      0       2

[667 rows x 6 columns]

In [15]:
X_test_l['Survived']=X_test_l["Survived"].apply(getNumberEmbarked)
print(X_test_l)

     PassengerId  Survived  Pclass   Age  SibSp  gender
0            448         3       1  34.0      0       1
1            210         3       1  40.0      0       1
2            592         3       1  52.0      1       2
3             90         3       3  24.0      0       1
4            818         3       2  31.0      1       1
..           ...       ...     ...   ...    ...     ...
218          725         3       1  27.0      1       1
219          465         3       3   NaN      0       1
220          624         3       3  21.0      0       1
221          304         3       2   NaN      0       2
222          621         3       3  27.0      1       1

[223 rows x 6 columns]

In [16]:
print(X_test_l.isnull().sum())
X_test_l = X_test_l.fillna(X_test_l.median())
X_test_l.isnull().sum()

PassengerId     0
Survived        0
Pclass          0
Age            36
SibSp           0
gender          0
dtype: int64

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
gender         0
dtype: int64

In [17]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train_l, Y_train_l)
Y_pred_l = clf.predict(X_test_l)
clf.score(X_train_l,Y_train_l), clf.score(X_test_l,Y_test)

TypeError: '<' not supported between instances of 'float' and 'str'

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth = 6, random_state=0)
clf.fit(X_train_l, Y_train_l)
clf.score(X_train_l,Y_train_l),clf.score(X_test_l,Y_test)