In [3]:
import pandas as pd
from sklearn import datasets

dia = datasets.load_iris()
X = dia.data
Y = dia.target

In [6]:
df = pd.DataFrame(X)

df.columns = dia.feature_names
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
from sklearn import model_selection
X_train ,X_test,Y_train , Y_test = model_selection.train_test_split(X,Y)
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(112, 4)
(38, 4)
(112,)
(38,)